<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fraud Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="static/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.Default.css" />
</head>


<body>
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h1>Credit Card Fraud Dashboard</h1>
      <p>Use the menu below to explore the dataset through visualizations</p>
    </div>
  </div>
  <div class="well">
    <h5>Dropdown Menu:</h5>

    <select id="selDataset" onchange="optionChanged(this.value)">
      <option value="" disabled selected>Select an option</option>
      <option value="option1">Fraud Density Map</option>
      <option value="option2">Fraud Amount Distribution per Category</option>
      <option value="option3">Multiple Fraud Bar Chart</option>
    </select>
    <div id="map" style="width: 1200px; height: 700px; padding-left: 510px;"></div>
    <div id="chart-container" style="display: none;">
      <h1>Distribution Fraud per Category</h1>
    </div>
    <div id="barChart" style="width:400;height:400" >
      <h1>Multiple Fraud barChart</h1> 
      <canvas id="myChart"></canvas>
    </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/leaflet.markercluster.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
 
  <script src="static/js/app.js"></script>


</body>

</html>