<!DOCTYPE html>
<html lang="en">

<head>
  <title>Light Green Background</title>
  <style>
      body {
          background-color: rgb(96, 100, 111);
      }
  </style>
</head>
<body>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fraud Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="static/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.css" />
  <script src="https://cdnjs.com/libraries/Chart.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.Default.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="sweetalert2.min.css">
</head>


<body>
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h1>Credit Card Fraud Dashboard</h1>
      <style>
        /* Center the title */
        h1 {
            text-align: center;
        }
    </style>
      <p>Use the menu below to explore the dataset through visualizations</p>
    </div>
  </div>
  <div class="well">
    <h5>Dropdown Menu:</h5>

    <select id="selDataset" onchange="optionChanged(this.value)">
      <option value="" disabled selected>Select an option</option>
      <option value="option1">Fraud Density Map</option>
      <option value="option2">Fraud Amount Distribution per Category</option>
      <option value="option3">Fraud Bar Chart by Gender</option>
      <option value="option4">Fraud in a Timeline Series Chart</option>
    </select>
    <div id="map" style="width: 1200px; height: 700px; padding-left: 510px;"></div>
    <div id="chart-container" style="display: none;">
      <h5>Distribution Fraud per Category:</h5>
    <canvas id="genderChart" width="400" height="400"></canvas>
      <div id ="chart"></div>
    <div id="timelineChartContainer" style="display: none;">
      <h5>Fraud in a Timeline Series Chart:</h5>
    </div>
  </div>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/leaflet.markercluster.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.7.0/fabric.min.js"></script>
  <script src="https://cdnjs.com/libraries/Chart.js"></script>
  <script src="sweetalert2.min.js"></script>
  <script src="static/js/app.js"></script>


</body>


  <title>Fraud Addresses Map</title>
  <style>
      /* Set the map container's height */
      #map {
          height: 500px;
      }
  </style>

<body>
  <h1>Fraud Addresses Map</h1>
  <div id="map"></div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
  <script>
      // Load the map file and display it on the page
      $(document).ready(function() {
          var map_file = "{{ map_file }}";
          var map = L.map('map').setView([0, 0], 2);

          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
          }).addTo(map);

          L.geoJSON(null, {
              pointToLayer: function(feature, latlng) {
                  return L.marker(latlng);
              },
              onEachFeature: function(feature, layer) {
                  if (feature.properties && feature.properties.popupContent) {
                      layer.bindPopup(feature.properties.popupContent);
                  }
              }
          }).addTo(map);

          $.getJSON(map_file, function(data) {
              L.geoJSON(data, {
                  onEachFeature: function(feature, layer) {
                      if (feature.properties && feature.properties.popupContent) {
                          layer.bindPopup(feature.properties.popupContent);
                      }
                  }
              }).addTo(map);
          });
      });
  </script>
</body>

</html>
